<app-recipe-item class="recipe-item1">recipe-item-1</app-recipe-item>
<app-recipe-item class="recipe-item2">recipe-item-2</app-recipe-item>
<app-recipe-item class="recipe-item3">recipe-item-3</app-recipe-item>
<app-recipe-item class="recipe-item4">recipe-item-4</app-recipe-item>
<app-recipe-item class="recipe-item5">recipe-item-5</app-recipe-item>
<app-recipe-item class="recipe-item6">recipe-item-6</app-recipe-item>
<app-recipe-item class="recipe-item7">recipe-item-7</app-recipe-item>
<app-recipe-item class="recipe-item8">recipe-item-8</app-recipe-item>
<app-recipe-item class="recipe-item9">recipe-item-9</app-recipe-item>
<app-recipe-item class="recipe-item10">recipe-item-10</app-recipe-item>
